<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CAFE KASIH IBU</h1>
    <h2>cafe ini masih baru dibangun ditahun 2022,cafe ini terletak di desa rongdalem omben sampang dimana 
        cafe ini dipegang oleh anaknya seorang kyai yang dimana seorang kyai ini mempunyai istri yang sudah 
        meninggal dunia dan mempunyai anak perempuan,dimana anak perempuan tersebut yang sedang membangun 
        cafe tersebut alasannya anak perempuan terssebut selalu teringat dengan ibunya dan
         dengan alasan mengenang ibu tercintanya dan cafe tersebut juga sebagai amal jariyah 
         karena setiap malam jumat cafe tersebut mengadakan santunan anak yatim

    </h2>
    <a href="/produk">PRODUK</a>

</body>
</html>