<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>MENU MAKANAN DAN MINUMAN</h1>
    <h2>Menu minuman</h2>
    <ul>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Milk</li>
        <li>green tea</li>
        <li>water</li>
      </ul>
      <h3>Menu Makanan</h3>
      <ul>
        <li>burger</li>
        <li>spageti</li>
        <li>fried rice</li>
      </ul>
      <h3>Menu cemilan</h3>
      <ul>
        <li>sosis</li>
        <li>nugget</li>
        <li>French fries</li>
      </ul>
    <a href="/home">CAFE KASIH IBU</a>
    <a href="cafe kasih ibu"></a>
</body>
</html>